.classifier-container {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  .classifier-left {
    .classifier-image {
      position: relative;
      width: 200px;
      height: 233px;
      border-radius: 25px;
      overflow: hidden;
      box-shadow: #adc2ff40 0 5px 15px;
      .image-box {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 233px;
        background-size: cover;
        background-position: center;
      }
      .image-cover {
        border-radius: 25px;
        backdrop-filter: blur(15px) brightness(110%);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        transition: .3s all ease-out;
        .icon {
          font-size: 70px;
          font-family: var(--font-family-main);
          font-weight: bold;
          color: #ffffff80;
        }
      }
    }
    .classifier-ratio {
      margin-top: 15px;
      width: 200px;
      border-radius: 25px;
      box-shadow: #adc2ff40 0 5px 15px;
      background-color: #F4F7FF;
      overflow: hidden;
      padding-top: 10px;
      padding-bottom: 15px;
      .ratio-item {
        padding: 0 9px;
        margin-bottom: 9px;
        &:last-child {
          margin-bottom: 0;
        }
        &.active {
          .label {
            color: var(--color-success);
          }
          .bar-outside {
            .bar-inside {
              background-color: var(--color-success);
            }
          }
        }
        .label {
          display: block;
          font-size: 14px;
          color: var(--color-true);
          font-family: var(--font-family-main);
          font-weight: bold;
          margin-left: 2px;
          margin-bottom: 3px;
        }
        .bar-outside {
          height: 11px;
          border-radius: 6px;
          background-color: white;
          overflow: hidden;
          .bar-inside {
            height: 11px;
            border-radius: 6px;
            width: 1%;
            background-color: var(--color-true);
            transition: .3s width ease-out;
          }
        }
      }
    }
  }
  .classifier-right {
    margin-left: 30px;
    .classifier-title {
      margin-bottom: 10px;
    }
    .classifier-content {
      min-height: 130px;
      margin-bottom: 15px;
    }
    .classifier-button {
      display: inline-block;
      input {
        width: 0;
        height: 0;
        opacity: 0;
      }
    }
  }
}