.root {
  width: 730px;
  border-radius: 45px;
  background-color: white;
  box-shadow: #e2e2e2 0 30px 50px;
  padding: 20px 40px;
  padding-bottom: 30px;
  margin: 0 auto;
  margin-top: 30px;
  overflow: hidden;
  .pages {
    width: 100%;
    min-height: 440px;
  }
}